<% include partials/header %>

<div class = "container" >
    <div class ="row">
        <div class = "col-md-3 col-sm-6">
                
        </div>
        <div class = "col-md-3 col-sm-6">
                
        </div>
        <div class = "col-md-3 col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>GP</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <% var count = 1  %>
                    <% results.forEach(function(team){  %>
                    <tr>
                        <th><%= team.name %></th>
                        <th><%= team.gamesPlayed %></th>
                        <th><%= team.points %></th>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<% include partials/footer %>
