<% include partials/header %>
        <div style="margin: 0 auto" class = "col-md-6">
            <h2>Welcome to F-Scores</h2>
            <p>A simple football scores website, built using Node.js, Bootstrap, and MongoDB.</p>
            <p><a href="/leagues">Click here to continue</a></p>
        </div>
<% include partials/footer %>
