<% include partials/header %>

<div class = "container" >
    <div class ="row">
        <div class = "col-sm"></div>
        <div class = "col-sm ">
            <table class="table table-hover" style= "margin: 0 auto;" >
                <thead class = "thead-light" >
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <% var count = 1  %>
                    <% results.forEach(function(team){  %>
                    <tr>
                        <th><%= count %></th>
                        <th><%= team["name"] %></th>
                        <th><%= team["points"] %></th>
                        <% count++; %>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class = "col-sm"></div>
    </div>
</div>
<% include partials/footer %>
